# Copyright 2024 FastLabs Developers
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

# Concurrency strategy:
#   github.workflow: distinguish this workflow from others
#   github.event_name: distinguish `push` event from `pull_request` event
#   github.event.number: set to the number of the pull request if `pull_request` event
#   github.run_id: otherwise, it's a `push` event, only cancel if we rerun the workflow
#
# Reference:
#   https://docs.github.com/en/actions/using-jobs/using-concurrency
#   https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.number || github.run_id }}
  cancel-in-progress: true
jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Delete rust-toolchain.toml
        run: rm rust-toolchain.toml
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt,clippy
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: typos-cli,taplo-cli,hawkeye
      - name: Check all
        run: |
          hawkeye check
          taplo format --check
          typos
          cargo +nightly fmt --all
          cargo +nightly clippy --all-targets --all-features -- -D warnings

  test:
    name: Run tests
    strategy:
      matrix:
        os: [ ubuntu-22.04, macos-14, windows-2022 ]
        rust-version: [ "1.85.0", "stable" ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - name: Delete rust-toolchain.toml
        run: rm rust-toolchain.toml
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust-version }}
      - name: Build
        run: cargo build --workspace --all-features --bins --tests --examples --benches --lib
      - name: Run unit tests
        shell: bash
        run: cargo test --all-features -- --nocapture
      - name: Run examples
        shell: bash
        run: |
          set -x
          cargo run --example simple_stdout
          cargo run --example log_with_logger
          cargo run --example multiple_dispatches
          cargo run --example custom_layout_filter
          cargo run --no-default-features --example simple_stdout
          cargo run --features="json" --example json_stdout
          cargo run --features="json,rolling-file" --example rolling_file
          cargo run --features="fastrace/enable,google_structured_log" --example google_structured_log
          cargo run --features="fastrace/enable" --example fastrace

  required:
    name: Required
    runs-on: ubuntu-22.04
    if: ${{ always() }}
    needs:
      - check
      - test
    steps:
      - name: Guardian
        run: |
          if [[ ! ( \
                 "${{ needs.check.result }}" == "success" \
              && "${{ needs.test.result }}" == "success" \
              ) ]]; then
            echo "Required jobs haven't been completed successfully."
            exit -1
          fi
